
<div class="container">
  <h3>Quotation Inquiry</h3>
  <br />
  <div class="row">
    <%= form_tag search_quotations_path, method: :get, class: 'form-horizontal' do %>
      <div class="form-group">
        <div class="col-xs-8"><%= text_field_tag :quotation_search_text, @quotation_search_text, placeholder: "Search...", autofocus: true, class: "form-control" %></div>
        <div class="col-xs-2"><%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>Search<% end %></div>
      </div>
    <% end %>
  </div>

  <%= render 'quotations/result' %>

</div>